%table.table.visited.tablesorter
  %thead
    %tr
      %th Name
      %th Size
      %th Created
      %th Last visited
      %th Owner
      %th
  %tbody
  - list.each do |de|
    %tr{"data-desc" => de.description,
        "data-name" => de.name || "<Unnamed>",
        "data-owner" => de.user.nil? ? '<Anonymous>' : de.user.name}
      %td
        %a{:href=>degust_compare_url('', de.secure_id)}
          = de.name || "<Unnamed>"
        - if !de.description.nil? && !de.description.empty?
          %div{:style => 'float: right; position: relative;' }
            %span.hover ...
            %div.on-hover{:style => 'display: none'}
              %pre
                = preserve h(de.description)
      %td{"data-val" => de.user_file.size}
        = number_to_human_size(de.user_file.size)
      %td.smaller{"data-val" => de.created_at.to_i}
        = de.created_at.to_formatted_s(:rfc822)
      - last_visit = de.last_visit_by(current_user)
      %td.smaller{"data-val" => last_visit ? last_visit.last.to_i : 0}
        = last_visit ? last_visit.last.to_formatted_s(:rfc822) : 'never'
      -#   = moment(val.last).format("MMMM Do YYYY, h:mm:ss a")}
      %td
        = de.user.nil? ? '<Anonymous>' : de.user.name
      %td
        .btn-group{ :style => "display: inline-flex" }
          = link_to "View", degust_compare_url('', de.secure_id), :class => 'btn btn-info btn-xs'
          %a.dropdown-toggle.btn.btn-xs.btn-info{"data-toggle"=>"dropdown","role"=>"button","aria-haspopup"=>"true", "aria-expanded"=>"false" }
            %span.caret
            %span.sr-only
              Toggle Dropdown
          %ul.dropdown-menu
            - frontend_versions.each do |ver|
              %li
                = link_to "View with #{ver}", degust_compare_url(ver, de.secure_id)
            %li.divider{ :role => "separator"}
            %li
              = link_to "Copy", copy_path(de.secure_id),
                :method => :post
            - if de.user == current_user
              %li
                = link_to "Delete", de_setting_path(de.secure_id),
                  :method => :delete,
                  :data =>  { confirm: 'Are you certain you want to delete this data?' }


:javascript

  $('.hover').hover(
    function(ev) {
      $(this).siblings('.on-hover').show();
    },
    function(ev) {
      $(this).siblings('.on-hover').hide();
    }
  )

  $.tablesorter.addParser({
    // set a unique id
    id: 'data',
    is: function(s, table, cell, $cell) {
      // return false so this parser is not auto detected
      return false;
    },
    format: function(s, table, cell, cellIndex) {
      var $cell = $(cell);
      return $cell.attr('data-val') || s;
    },
    // flag for filter widget (true = ALWAYS search parsed values; false = search cell text)
    parsed: false,
    // set type, either numeric or text
    type: 'numeric'
  });


  // Default table sorting from localStorage.
  var defSort = [[3,1]];
  if (window.localStorage) {
    tmp = JSON.parse(window.localStorage.getItem("visited-sort"));
    if (tmp) {
      defSort = tmp;
    }
  }

  $('.tablesorter').tablesorter({
    theme : 'blue',
    widgets: ["filter"],
    sortList: defSort,
    headers: {
        1 : { sorter: 'data' },
        2 : { sorter: 'data' },
        3 : { sorter: 'data' },
        5 : { sorter: false },
     },

     // Allow filtering by words.  Matches any field in the above data-* fields on the row
     widgetOptions : {
        filter_columnFilters: false,
        filter_external : '.search',
        filter_functions: {
          0: function(e, n, f, i, $r, c, data) {
            var words = f.toLowerCase().split(' ');
            var fields = Object.values($r.data()).map(function(x) { return x.toLowerCase() } );
            // All words must match some field
            var matches = words.every(
              function(w) {
                return fields.some(function(val) { return val.includes(w) } );
              }
            );
            return matches;
          }
        }
      },
  });

  // Save the most recent sort as the default
  $('.tablesorter').bind("sortEnd",function(ev,target) {
    if (window.localStorage) {
      window.localStorage.setItem("visited-sort", JSON.stringify(target.config.sortList));
    }
  });

