= content_for :title, "Degust - sessions"

.container

  .row
    .col-md-12
      .page-header
        %h1 Your Data

  - if !current_user.nil?
    .row
      .col-md-12
        You are logged in as
        %b
          = link_to current_user.name, user_path(current_user)
        via
        %b #{if current_user.provider == "twitter" then "twitter" else "google" end}

  .row
    .col-md-12
      %nav.navbar.navbar-default#top-nav
        .container-fluid
          .navbar-header
            .navbar-brand.bold
              Data sets
          %ul.nav.navbar-nav
            %li
              %button.btn.btn-default.navbar-btn{onclick: 'myScrollTo("div.mine")'}
                Mine (#{@mine.length})
            %li
            %li
              %button.btn.btn-default.navbar-btn{onclick: 'myScrollTo("div.visited")'}
                Shared with me (#{@others.length})
          %form.navbar-form.navbar-right
            %input.search{:size=>'40', :type=>"search",
                          :placeholder=>"Filter tables", "data-column"=>"0"}

      .mine
        - if @mine.length
          %h4 My Data sets
          = render :partial => "table", :locals => { :list => @mine }
      .visited
        - if @others.length
          %h4 Data sets shared with me
          = render :partial => "table", :locals => { :list => @others }

:javascript

  function myScrollTo(cls) {
    document.querySelector(cls).scrollIntoView()
    window.scrollBy(0,-50)
  }
